/* BerlingNovaDisplayPro Font Family */
@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-Light.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-LightItalic.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-Regular.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-RegularItalic.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-Medium.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-MediumItalic.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-Bold.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BerlingNovaDisplayPro';
  src: url('./BerlingNovaDisplayPro-BoldItalic.woff2') format('woff2'),
       url('./BerlingNovaDisplayPro-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}